streamlit>=1.35.0

torch>=2.1.0
torchvision>=0.16.0

git+https://github.com/openai/CLIP.git

transformers>=4.40.0
deep-translator>=1.11.0

Pillow>=10.0.0
numpy>=1.24.0

ftfy>=6.2.0
regex
tqdm

huggingface_hub>=0.23.0